In [1]:
#---Basic Statistical Testing---
#we're going to study hypothesis testing, it's goal is to determine if, for instance, the two different conditions we have 
#in an expertiment have resulted in different impacs.
import numpy as np
import pandas as pd

from scipy import stats

In [2]:
#hyposthesis testing has two statements of interest:
#the first is out actual explanation, which we call the alternative hypothesis, 
#and the second is that the explanation we have is not sufficient, and we call this the null hypothesis.

#our actual testing method is to determine whether the null hypothesis is true ot not. 
#if we find that there is a difference between groups, then we can reject the null hypothesis and we accept out alternative.

df = pd.read_csv('grades.csv')
df.head()

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
0,B73F2C11-70F0-E37D-8B10-1D20AFED50B1,92.733946,2015-11-02 06:55:34.282000000,83.030552,2015-11-09 02:22:58.938000000,67.164441,2015-11-12 08:58:33.998000000,53.011553,2015-11-16 01:21:24.663000000,47.710398,2015-11-20 13:24:59.692000000,38.168318,2015-11-22 18:31:15.934000000
1,98A0FAE0-A19A-13D2-4BB5-CFBFD94031D1,86.790821,2015-11-29 14:57:44.429000000,86.290821,2015-12-06 17:41:18.449000000,69.772657,2015-12-10 08:54:55.904000000,55.098125,2015-12-13 17:32:30.941000000,49.588313,2015-12-19 23:26:39.285000000,44.629482,2015-12-21 17:07:24.275000000
2,D0F62040-CEB0-904C-F563-2F8620916C4E,85.512541,2016-01-09 05:36:02.389000000,85.512541,2016-01-09 06:39:44.416000000,68.410033,2016-01-15 20:22:45.882000000,54.728026,2016-01-11 12:41:50.749000000,49.255224,2016-01-11 17:31:12.489000000,44.329701,2016-01-17 16:24:42.765000000
3,FFDF2B2C-F514-EF7F-6538-A6A53518E9DC,86.030665,2016-04-30 06:50:39.801000000,68.824532,2016-04-30 17:20:38.727000000,61.942079,2016-05-12 07:47:16.326000000,49.553663,2016-05-07 16:09:20.485000000,49.553663,2016-05-24 12:51:18.016000000,44.598297,2016-05-26 08:09:12.058000000
4,5ECBEEB6-F1CE-80AE-3164-E45E99473FB4,64.813800,2015-12-13 17:06:10.750000000,51.491040,2015-12-14 12:25:12.056000000,41.932832,2015-12-29 14:25:22.594000000,36.929549,2015-12-28 01:29:55.901000000,33.236594,2015-12-29 14:46:06.628000000,33.236594,2016-01-05 01:06:59.546000000

In [3]:
#let's look at some summary statistics
print("There are {} rows and {} columns".format(df.shape[0], df.shape[1]))

There are 2315 rows and 13 columns

In [5]:
#we'll segment the population into two pieces:
#early finishers, the ones that finish the first assignement by the end of December 2015
#late finishers, the ones that finish it after that

early_finishers=df[pd.to_datetime(df['assignment1_submission']) < '2016']
early_finishers.head()

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
0,B73F2C11-70F0-E37D-8B10-1D20AFED50B1,92.733946,2015-11-02 06:55:34.282000000,83.030552,2015-11-09 02:22:58.938000000,67.164441,2015-11-12 08:58:33.998000000,53.011553,2015-11-16 01:21:24.663000000,47.710398,2015-11-20 13:24:59.692000000,38.168318,2015-11-22 18:31:15.934000000
1,98A0FAE0-A19A-13D2-4BB5-CFBFD94031D1,86.790821,2015-11-29 14:57:44.429000000,86.290821,2015-12-06 17:41:18.449000000,69.772657,2015-12-10 08:54:55.904000000,55.098125,2015-12-13 17:32:30.941000000,49.588313,2015-12-19 23:26:39.285000000,44.629482,2015-12-21 17:07:24.275000000
4,5ECBEEB6-F1CE-80AE-3164-E45E99473FB4,64.813800,2015-12-13 17:06:10.750000000,51.491040,2015-12-14 12:25:12.056000000,41.932832,2015-12-29 14:25:22.594000000,36.929549,2015-12-28 01:29:55.901000000,33.236594,2015-12-29 14:46:06.628000000,33.236594,2016-01-05 01:06:59.546000000
5,D09000A0-827B-C0FF-3433-BF8FF286E15B,71.647278,2015-12-28 04:35:32.836000000,64.052550,2016-01-03 21:05:38.392000000,64.752550,2016-01-07 08:55:43.692000000,57.467295,2016-01-11 00:45:28.706000000,57.467295,2016-01-11 00:54:13.579000000,57.467295,2016-01-20 19:54:46.166000000
8,C9D51293-BD58-F113-4167-A7C0BAFCB6E5,66.595568,2015-12-25 02:29:28.415000000,52.916454,2015-12-31 01:42:30.046000000,48.344809,2016-01-05 23:34:02.180000000,47.444809,2016-01-02 07:48:42.517000000,37.955847,2016-01-03 21:27:04.266000000,37.955847,2016-01-19 15:24:31.060000000

In [6]:
late_finishers=df[~df.index.isin(early_finishers.index)] #this is a great method to get the opposite of a dataframe
late_finishers.head()

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
2,D0F62040-CEB0-904C-F563-2F8620916C4E,85.512541,2016-01-09 05:36:02.389000000,85.512541,2016-01-09 06:39:44.416000000,68.410033,2016-01-15 20:22:45.882000000,54.728026,2016-01-11 12:41:50.749000000,49.255224,2016-01-11 17:31:12.489000000,44.329701,2016-01-17 16:24:42.765000000
3,FFDF2B2C-F514-EF7F-6538-A6A53518E9DC,86.030665,2016-04-30 06:50:39.801000000,68.824532,2016-04-30 17:20:38.727000000,61.942079,2016-05-12 07:47:16.326000000,49.553663,2016-05-07 16:09:20.485000000,49.553663,2016-05-24 12:51:18.016000000,44.598297,2016-05-26 08:09:12.058000000
6,3217BE3F-E4B0-C3B6-9F64-462456819CE4,87.498744,2016-03-05 11:05:25.408000000,69.998995,2016-03-09 07:29:52.405000000,55.999196,2016-03-16 22:31:24.316000000,50.399276,2016-03-18 07:19:26.032000000,45.359349,2016-03-19 10:35:41.869000000,45.359349,2016-03-23 14:02:00.987000000
7,F1CB5AA1-B3DE-5460-FAFF-BE951FD38B5F,80.576090,2016-01-24 18:24:25.619000000,72.518481,2016-01-27 13:37:12.943000000,65.266633,2016-01-30 14:34:36.581000000,65.266633,2016-02-03 22:08:49.002000000,65.266633,2016-02-16 14:22:23.664000000,65.266633,2016-02-18 08:35:04.796000000
9,E2C617C2-4654-622C-AB50-1550C4BE42A0,59.270882,2016-03-06 12:06:26.185000000,59.270882,2016-03-13 02:07:25.289000000,53.343794,2016-03-17 07:30:09.241000000,53.343794,2016-03-20 21:45:56.229000000,42.675035,2016-03-27 15:55:04.414000000,38.407532,2016-03-30 20:33:13.554000000

In [8]:
#we can see the means of the assignements calculates, let's compare
print(early_finishers['assignment1_grade'].mean())
print(late_finishers['assignment1_grade'].mean())

74.94728457024303
74.0450648477065

In [9]:
#when doing hypothesis testing, we have to choose a significance level as a threshold for how much of a chance we're willing to accept.
#in this example, we'll use a theshold of 0.05 (alpha = 5%).

#students t-testing allows us to form the alternative hypothesis (different) as well as the null hypothesis (same)
from scipy.stats import ttest_ind

ttest_ind(early_finishers['assignment1_grade'], late_finishers['assignment1_grade'])

Ttest_indResult(statistic=1.322354085372139, pvalue=0.1861810110171455)

In [10]:
#the probability is 0.18, this is above the alpha value of 0.5
#this means that we cannot reject the null hypothesis, where two are the same

In [11]:
#other assignement grades
print(ttest_ind(early_finishers['assignment2_grade'], late_finishers['assignment2_grade']))
print(ttest_ind(early_finishers['assignment3_grade'], late_finishers['assignment3_grade']))
print(ttest_ind(early_finishers['assignment4_grade'], late_finishers['assignment4_grade']))
print(ttest_ind(early_finishers['assignment5_grade'], late_finishers['assignment5_grade']))
print(ttest_ind(early_finishers['assignment6_grade'], late_finishers['assignment6_grade']))

Ttest_indResult(statistic=1.2514717608216366, pvalue=0.2108889627004424)
Ttest_indResult(statistic=1.6133726558705392, pvalue=0.10679998102227865)
Ttest_indResult(statistic=0.049671157386456125, pvalue=0.960388729789337)
Ttest_indResult(statistic=-0.05279315545404755, pvalue=0.9579012739746492)
Ttest_indResult(statistic=-0.11609743352612056, pvalue=0.9075854011989656)

In [12]:
#example of running p-values with more tests to get a value which is statistically significant just by chance
df1=pd.DataFrame([np.random.random(100) for x in range(100)]) #this is a list comprehension
df1.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.524842,0.554116,0.949909,0.253619,0.107406,0.125153,0.435944,0.541385,0.365834,0.311096,...,0.644709,0.266319,0.107106,0.661779,0.519486,0.681668,0.643576,0.196835,0.287933,0.442577
1,0.520965,0.669972,0.428096,0.439640,0.507204,0.503244,0.385336,0.906445,0.733456,0.922228,...,0.031879,0.230149,0.214461,0.090380,0.749219,0.568532,0.420534,0.772258,0.543772,0.616236
2,0.893075,0.947149,0.439630,0.913899,0.811898,0.715915,0.131894,0.156973,0.839347,0.483318,...,0.696424,0.880129,0.065026,0.803668,0.626438,0.113771,0.022045,0.825603,0.207801,0.384260
3,0.402504,0.418361,0.425883,0.701853,0.310851,0.267420,0.060478,0.105966,0.850036,0.733496,...,0.318976,0.384189,0.393912,0.568995,0.548392,0.879592,0.402349,0.294581,0.115060,0.908256
4,0.449688,0.996866,0.141135,0.205763,0.886697,0.234785,0.757021,0.844886,0.958493,0.561446,...,0.924831,0.753031,0.597466,0.687007,0.579345,0.723030,0.629681,0.231488,0.271615,0.329385

In [13]:
#a second dataframe
df2=pd.DataFrame([np.random.random(100) for x in range(100)])

In [15]:
#alpha of 10%. we're going to compare each column in df1 to the same in df2 and report if it's less than 10%, which means we 
#have sufficient evidence to say that they are different

def test_columns(alpha=0.1):
    #how many differ
    num_diff=0
    #iterating over the columns
    for col in df1.columns:
        #run the test between  the two dataframes
        teststat,pval=ttest_ind(df1[col],df2[col])
        #checking pvalue vs alpha
        if pval<=alpha:
            #print out if they are different and increment the num_diff
            print("Col {} is statistically significantly different at alpha={}, pval={}".format(col, alpha, pval))
            num_diff=num_diff+1
    #printing some summary stats
    print("Total number different was {}, which is {}%".format(num_diff, float(num_diff)/len(df1.columns)*100))

test_columns()

Col 9 is statistically significantly different at alpha=0.1, pval=0.009106605118395911
Col 22 is statistically significantly different at alpha=0.1, pval=0.023469058474884053
Col 24 is statistically significantly different at alpha=0.1, pval=0.09080560005359409
Col 30 is statistically significantly different at alpha=0.1, pval=0.03497564500605334
Col 36 is statistically significantly different at alpha=0.1, pval=0.06419871779303993
Col 41 is statistically significantly different at alpha=0.1, pval=0.010259991432118953
Col 43 is statistically significantly different at alpha=0.1, pval=0.06853664270773745
Col 62 is statistically significantly different at alpha=0.1, pval=0.023690688214525548
Col 73 is statistically significantly different at alpha=0.1, pval=0.06578353235802492
Col 75 is statistically significantly different at alpha=0.1, pval=0.053799164518785685
Col 84 is statistically significantly different at alpha=0.1, pval=0.08675471832062505
Col 87 is statistically significantly different at alpha=0.1, pval=0.08330422838456494
Col 88 is statistically significantly different at alpha=0.1, pval=0.08432738656636493
Col 89 is statistically significantly different at alpha=0.1, pval=0.09149490862974452
Col 99 is statistically significantly different at alpha=0.1, pval=0.011000887180638389
Total number different was 15, which is 15.0%

In [16]:
#testing other alpha values
test_columns(0.05)

Col 9 is statistically significantly different at alpha=0.05, pval=0.009106605118395911
Col 22 is statistically significantly different at alpha=0.05, pval=0.023469058474884053
Col 30 is statistically significantly different at alpha=0.05, pval=0.03497564500605334
Col 41 is statistically significantly different at alpha=0.05, pval=0.010259991432118953
Col 62 is statistically significantly different at alpha=0.05, pval=0.023690688214525548
Col 99 is statistically significantly different at alpha=0.05, pval=0.011000887180638389
Total number different was 6, which is 6.0%

In [18]:
#recreating the second dataframe using a non-normal distribution with chisquared
df2=pd.DataFrame([np.random.chisquare(df=1,size=100) for x in range(100)])
test_columns()

Col 0 is statistically significantly different at alpha=0.1, pval=0.00030229014283065543
Col 1 is statistically significantly different at alpha=0.1, pval=0.018890460713471974
Col 2 is statistically significantly different at alpha=0.1, pval=3.632199599475902e-06
Col 3 is statistically significantly different at alpha=0.1, pval=0.0006990173118790493
Col 4 is statistically significantly different at alpha=0.1, pval=0.0002914549972494575
Col 5 is statistically significantly different at alpha=0.1, pval=0.000329842488936523
Col 6 is statistically significantly different at alpha=0.1, pval=1.943066068808439e-06
Col 7 is statistically significantly different at alpha=0.1, pval=2.227799748281324e-05
Col 8 is statistically significantly different at alpha=0.1, pval=0.0015514290863741763
Col 9 is statistically significantly different at alpha=0.1, pval=0.00011917418169061913
Col 10 is statistically significantly different at alpha=0.1, pval=0.0010654217694689827
Col 11 is statistically significantly different at alpha=0.1, pval=0.004904713398380246
Col 12 is statistically significantly different at alpha=0.1, pval=0.0018195927017950375
Col 13 is statistically significantly different at alpha=0.1, pval=1.2923134963810462e-05
Col 14 is statistically significantly different at alpha=0.1, pval=0.002451047396470989
Col 15 is statistically significantly different at alpha=0.1, pval=0.057978418141046414
Col 16 is statistically significantly different at alpha=0.1, pval=0.00042132246285212177
Col 17 is statistically significantly different at alpha=0.1, pval=0.010996357583196946
Col 18 is statistically significantly different at alpha=0.1, pval=0.00047912243168913833
Col 19 is statistically significantly different at alpha=0.1, pval=0.00014594675483713666
Col 20 is statistically significantly different at alpha=0.1, pval=5.44968169498974e-05
Col 21 is statistically significantly different at alpha=0.1, pval=0.0011840526904469831
Col 22 is statistically significantly different at alpha=0.1, pval=0.0013438001954543103
Col 23 is statistically significantly different at alpha=0.1, pval=0.018503558332436956
Col 24 is statistically significantly different at alpha=0.1, pval=0.0007273035392505151
Col 25 is statistically significantly different at alpha=0.1, pval=0.010457556971267044
Col 26 is statistically significantly different at alpha=0.1, pval=0.004257320844736834
Col 27 is statistically significantly different at alpha=0.1, pval=0.002075652217783888
Col 28 is statistically significantly different at alpha=0.1, pval=0.0012315615446221921
Col 29 is statistically significantly different at alpha=0.1, pval=0.001994124617131864
Col 30 is statistically significantly different at alpha=0.1, pval=3.076895917104573e-05
Col 31 is statistically significantly different at alpha=0.1, pval=3.492654985716686e-05
Col 32 is statistically significantly different at alpha=0.1, pval=0.0003990478646423077
Col 33 is statistically significantly different at alpha=0.1, pval=0.0026283912897677284
Col 34 is statistically significantly different at alpha=0.1, pval=0.0001411438045413617
Col 35 is statistically significantly different at alpha=0.1, pval=4.247752049525326e-05
Col 36 is statistically significantly different at alpha=0.1, pval=0.005898705805881832
Col 37 is statistically significantly different at alpha=0.1, pval=0.00020203275455666774
Col 38 is statistically significantly different at alpha=0.1, pval=0.00012679634525175642
Col 39 is statistically significantly different at alpha=0.1, pval=0.02010014386807475
Col 40 is statistically significantly different at alpha=0.1, pval=0.0003835118614691059
Col 41 is statistically significantly different at alpha=0.1, pval=2.8300481170442025e-05
Col 42 is statistically significantly different at alpha=0.1, pval=0.00013616577668413118
Col 43 is statistically significantly different at alpha=0.1, pval=0.09400854815687801
Col 44 is statistically significantly different at alpha=0.1, pval=0.003979413010152837
Col 45 is statistically significantly different at alpha=0.1, pval=0.002525385602756963
Col 46 is statistically significantly different at alpha=0.1, pval=0.0003097988305785302
Col 47 is statistically significantly different at alpha=0.1, pval=5.851770937147605e-05
Col 48 is statistically significantly different at alpha=0.1, pval=0.0022474753089105747
Col 49 is statistically significantly different at alpha=0.1, pval=4.404413361160298e-05
Col 50 is statistically significantly different at alpha=0.1, pval=6.0669272677069615e-05
Col 51 is statistically significantly different at alpha=0.1, pval=0.0019775155531101033
Col 52 is statistically significantly different at alpha=0.1, pval=0.008934904936052208
Col 53 is statistically significantly different at alpha=0.1, pval=0.006724205586797529
Col 54 is statistically significantly different at alpha=0.1, pval=1.8598187408612087e-05
Col 55 is statistically significantly different at alpha=0.1, pval=7.106453807547779e-05
Col 56 is statistically significantly different at alpha=0.1, pval=0.0009166213314727569
Col 57 is statistically significantly different at alpha=0.1, pval=0.00028622370210227806
Col 58 is statistically significantly different at alpha=0.1, pval=0.0013335395546084756
Col 59 is statistically significantly different at alpha=0.1, pval=0.0017936508837742414
Col 60 is statistically significantly different at alpha=0.1, pval=0.00012493358985644703
Col 61 is statistically significantly different at alpha=0.1, pval=0.0001162617987673705
Col 62 is statistically significantly different at alpha=0.1, pval=7.362503984295625e-06
Col 63 is statistically significantly different at alpha=0.1, pval=0.0004342347835341912
Col 64 is statistically significantly different at alpha=0.1, pval=0.0004266319539784326
Col 65 is statistically significantly different at alpha=0.1, pval=0.0008757431479473623
Col 66 is statistically significantly different at alpha=0.1, pval=4.279768047944307e-06
Col 67 is statistically significantly different at alpha=0.1, pval=0.0029741141124672394
Col 68 is statistically significantly different at alpha=0.1, pval=0.0008930118117430569
Col 69 is statistically significantly different at alpha=0.1, pval=2.864527954062635e-05
Col 70 is statistically significantly different at alpha=0.1, pval=0.005066530027813185
Col 71 is statistically significantly different at alpha=0.1, pval=2.3373354018201762e-05
Col 72 is statistically significantly different at alpha=0.1, pval=0.00037590049075807846
Col 73 is statistically significantly different at alpha=0.1, pval=0.03760048570842203
Col 74 is statistically significantly different at alpha=0.1, pval=0.0005198733347944654
Col 75 is statistically significantly different at alpha=0.1, pval=6.014947884544774e-05
Col 76 is statistically significantly different at alpha=0.1, pval=0.0001241309980279287
Col 77 is statistically significantly different at alpha=0.1, pval=0.0013532081817323475
Col 78 is statistically significantly different at alpha=0.1, pval=0.0023967501307372617
Col 79 is statistically significantly different at alpha=0.1, pval=3.4419309381219255e-05
Col 80 is statistically significantly different at alpha=0.1, pval=5.309960459134485e-05
Col 81 is statistically significantly different at alpha=0.1, pval=0.010402750501779247
Col 82 is statistically significantly different at alpha=0.1, pval=1.5964807604661496e-05
Col 83 is statistically significantly different at alpha=0.1, pval=0.0012663404645180585
Col 84 is statistically significantly different at alpha=0.1, pval=0.00961021076601686
Col 85 is statistically significantly different at alpha=0.1, pval=0.0022694709061467744
Col 86 is statistically significantly different at alpha=0.1, pval=0.007457739714025038
Col 87 is statistically significantly different at alpha=0.1, pval=0.001540233924132153
Col 88 is statistically significantly different at alpha=0.1, pval=0.0015183185583789779
Col 89 is statistically significantly different at alpha=0.1, pval=2.9241309852789696e-06
Col 90 is statistically significantly different at alpha=0.1, pval=5.6929179189532505e-05
Col 91 is statistically significantly different at alpha=0.1, pval=0.0019804081445457394
Col 92 is statistically significantly different at alpha=0.1, pval=0.0017052328714298587
Col 93 is statistically significantly different at alpha=0.1, pval=0.0051260049788772665
Col 94 is statistically significantly different at alpha=0.1, pval=0.024580574812020764
Col 95 is statistically significantly different at alpha=0.1, pval=0.0018129634624819361
Col 96 is statistically significantly different at alpha=0.1, pval=0.003917050597415485
Col 97 is statistically significantly different at alpha=0.1, pval=0.0008975272647616001
Col 98 is statistically significantly different at alpha=0.1, pval=9.817169384591154e-06
Col 99 is statistically significantly different at alpha=0.1, pval=0.00019839940489984204
Total number different was 100, which is 100.0%